<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0C-多文件的开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>0C-继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OC-关于属性的私有化让外面的人访问.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OC-函数和对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OC-多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>oc-第二个.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>oc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E1E5EDA1BDE745B006B02B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E32141F1BEE28B7004DEB20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E74F9F11BE4E156001FE37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E85EE5F1BE66750008F4DDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ED6CAF41BEA4EC300AC17D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF95AA41BE24C7D00D0C4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF95AAF1BE257C200D0C4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EFD9C681BF364560061B530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
